<h1>Blog</h1>
<rb>
<table>
  <thead>
    <tr>
      <th>Name</th>  
    </tr>
    <tr>
    	<th>Text</th>
    </tr>
    <tr>
    	<th>Like</th>
    </tr>
  </thead>
</table>

<a href="posts/index2">Administrative Menu</a>